// default theme
$white-one: #FFFFFF;

$blue-one: #120e35;
$blue-two: #2a254d;
$blue-three: #64afc1;
$blue-four: #b3b4d0;

$purple-one: #604f95;
$purple-two: #564f96;

$orange-one: #aa8c4c;
$orange-two: #d89065;

$red-one: #c33f50;

$yellow-one: #ecdc63;
$yellow-two: #f2bf43;

$gren-one: #77ac58;
